.mainField {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 600px;
	border: 1px solid black;
}
.field {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.button {
	width: 200px;
	height: 200px;
	font-size: 100px;
	background-color: #d5f3ff;
}
.button:active {
	cursor: wait;
	background-color: #72d2f8;
}
